
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}


body {
    font-family: "Exo 2", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 20px;
    color: #333333;
    background-color: #f9f9f9;
    line-height: 1.5;
}


header,
main,
footer,
nav,
section {
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc80;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

header h1 {
    font-family: "Momo Trust Display", "Exo 2", sans-serif;
    font-size: 36px;
    color: #000000;
    transition: color 0.3s ease;
    cursor: pointer;
}

header h1:hover{
    color: #e65100;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e65100;
}


main {
    max-width: 1000px;
    margin: 0 auto 40px auto;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

h2 {
    font-size: 22px;
    margin-bottom: 15px;
    color: #222222;
}


p,
li {
    font-size: 22px;
    color: #444444;
}

#about_us img {
    width: 100%;
    height: auto;
    max-height: 350px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

#advantages ul {
    list-style-type: disc;
    padding-left: 20px;
}

#advantages li {
    margin-bottom: 6px;
}

#popular_food table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

#popular_food th,
#popular_food td {
    border: 1px solid #cccccc;
    padding: 10px 12px;
    text-align: left;
}

#popular_food thead {
    background-color: #ffe0b2;
}

#popular_food tbody tr:nth-child(even) {
    background-color: #fff8e1;
}

a {
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    color: #ffffff;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffecb3;
}

a[href="../index.html"]{
    position: absolute;
    left: 30px;
    margin-top: 10px;
}
footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

footer p {
    margin-bottom: 5px;
    font-size: 16px;
    color:#e0e0e0;
}

footer a {
    font-weight: 600;
}
@media (max-width: 800px) {
    nav {
        justify-content: space-between;
    }

    #about_us img {
        width: 500px;
    }
}

@media (max-width: 600px) {
    h1 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 20px;
    }

    #about_us img {
        width: 100%;
    }

    table {
        font-size: 18px;
    }
}

@media (max-width: 400px) {
    table {
        font-size: 16px;
    }
}
