* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


body {
    font-family: "Exo 2", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    font-size: 20px;
    color: #333333;
    background-color: #f9f9f9;
    line-height: 1.5;
}


header,
main,
footer,
nav,
section {
    padding: 20px;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffcc80;
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 20px;
}

header h1 {
    font-family: "Momo Trust Display", "Exo 2", sans-serif;
    font-size: 36px;
    color: #000000;
    transition: color 0.3s ease;
    cursor: pointer;
}

header h1:hover{
    color: #e65100;
}

nav {
    display: flex;
    gap: 10px;
}

nav a {
    text-decoration: none;
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    color: #333333;
    cursor: pointer;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #e65100;
}

.dishes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.dish-card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px 40px;
    border-radius: 35px;
    cursor: pointer;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.dish-card:hover {
    border-color: tomato;
}

.dish-card:hover button {
    background-color: tomato;
    color: white;
}

.dish-card img {
    width: 100%;
    border-radius: 35px;
    object-fit: cover;
}

.dish-card p {
    margin: 10px 0;
}

.dish-card p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
}

.dish-card p:nth-of-type(2) {
    font-size: 20px;
    font-weight: bold;
    flex-grow: 1;
}

.dish-card p:nth-of-type(3) {
    color: gray;
}

.dish-card button {
    background-color: #f1eee9;
    padding: 10px 30px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    margin-top: auto;
    font-family: inherit;
    font-size: 16px;
    transition: background-color 0.3s;
}
a[href="../index.html"]{
    position: absolute;
    left: 30px;
    margin-top: 10px;
    text-decoration: none;
    color: #ffcc80;
    transition: color 0.3s ease;
}

footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

footer p {
    margin-bottom: 5px;
    font-size: 16px;
    color:#e0e0e0;
}

footer a {
    font-weight: 600;
}
footer a:hover{
    color: #ffecb3;
}
@media (max-width: 800px) {
    .dishes-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    nav {
        justify-content: space-between;
    }
}

@media (max-width: 600px) {
    .dishes-grid {
        grid-template-columns: 1fr;
    }

    h1, section h2 {
        text-align: center;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        font-size: 20px;
    }
}
